<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="text/html;charset=UTF-8"/>
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<title>Content</title>
</head>
<body>
	<div class="center-block" style="width:800px" th:if="${not #lists.isEmpty(contents)}">
		<div class="row"  style="height:50px; background-color: #000000; color: #ffffff">
		  <div class="col-md-1">CotentId</div>
		  <div class="col-md-2">Title</div>
		  <div class="col-md-5">Cotent</div>
		  <div class="col-md-1">UserId</div>
		  <div class="col-md-2">CreateTime</div>
		</div>
		<div th:if="${not #lists.isEmpty(contents)}">
			<div class="row" th:each="content:${contents}" style="height:40px;background-color: #000000; margin-top: 1px; color: #ffffff">
			  <div class="col-md-1"><span th:text="${content.contentId}"></span></div>
			  <div class="col-md-2"><span th:text="${content.title}"></span></div>
			  <div class="col-md-5"><span th:text="${content.content}"></span></div>
			  <div class="col-md-1"><span th:text="${content.userID}"></span></div>
			  <div class="col-md-2"><span th:text="${content.createTime}"></span></div>
			</div>
		</div>
	</div>
	
</body>
</html>